vsg-viewer/vsgworld.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://dueca.tudelft.nl"
  xmlns="https://dueca.tudelft.nl"
  elementFormDefault="qualified">

  <!-- Main element, graphics world -->
  <xs:element name="world">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <!-- Declarations group the definition of objects in the world -->
        <xs:element name="template" type="template_t" />
        <!-- Statics group the instantiation of static objects in the world -->
        <xs:element name="static" type="static_t" />
        <!-- Deletion, clearing -->
        <xs:element name="remove" type="remove_t" />
        <!-- Adaptation, of a static -->
        <xs:element name="modify" type="modify_t" />
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <!-- Each declaration is named, has a type which corresponds to an available
       object type created somewhere in a factory, and a key by which
       it can be created. The key may match on a channel entry or on a
       static defined later. -->
  <xs:complexType name="template_t">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="file" type="xs:string" />
      <xs:element name="param" type="param_t" />
      <xs:element name="child" type="child_t" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="type" type="xs:string" use="required" />
    <xs:attribute name="key" type="xs:string" use="required" />
    <xs:attribute name="root" type="xs:boolean" />
  </xs:complexType>

  <!-- Parameters, typically with numerical content, or
       with multiple, comma-separated, numbers -->
  <xs:complexType name="param_t">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Child relations, the content is the child name Optionally,
       for LOD nodes, the rario parameter is added -->
  <xs:complexType name="child_t">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="ratio" type="xs:float" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- A static instantiates an object of a previously given declaration,

       If a template attribute is used, the template with the given
       key is used to provide the default values for this static object

       The static provides the name, and may override coordinates. -->
  <xs:complexType name="static_t">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="file" type="xs:string" />
      <xs:element name="param" type="param_t" />
      <xs:element name="child" type="child_t" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="type" type="xs:string" />
    <xs:attribute name="template" type="xs:string" />
    <xs:attribute name="root" type="xs:boolean" />
  </xs:complexType>

  <!-- a static can be removed, by specifying the name -->
  <xs:complexType name="remove_t">
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <!-- modification of a static; identify by name, change parameters
       or add children. -->
  <xs:complexType name="modify_t">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="param" type="param_t" />
      <xs:element name="child" type="child_t" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>
</xs:schema>